<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-5">
                <div class="card-header">
                    <h2>Assignment 4</h2>
                </div>
                <div class="card-body">
                  <div>
                   <h3> Data Binding Task</h3>
                    <div>
                      <p>Interpolation</p>
                      <p>Task</p>
                      <pre>
                          A. Create an Angular component named UserProfile.
                          Define properties for name and age in the component's TypeScript file.
                          Use property binding in the component's template to display the name and age.
                      </pre>
                    </div>
                    <div>
                      <p>Property Binding</p>
                      <p>Task</p>
                      <pre>
                          A. Create an Angular component called ImageComponent.
                          Inside the component, define a property called imageUrl with the value of a placeholder image URL.
                          Use property binding to dynamically bind the imageUrl to the source of an <img> element in the template.
                      </pre>
                    </div>
                    <div>
                      <p>Event Binding</p>
                      <p>Task</p>
                      <pre>
                          A. Create a new Angular component named ClickButton.
                          Add a button to the component's template.
                          Use event binding to trigger an alert message when the button is clicked.
                      </pre>
                    </div>
                    <div>
                      <p>Two Way Data Binding</p>
                      <p>Task</p>
                      <pre>
                          A.Create a new Angular component named TwoWayBinding.
                          Add a text input field to the component's template.
                          Use two-way data binding to update the userInput property as the user types.
                      </pre>
                    </div>
                  </div>
                    <div>
                      <h3>Template Driven Form Task</h3>
                      <div>
                        <p>Template Driven Form</p>
                        <pre>
                         A. creating a user registration form with the following fields:
                          Username ,Password,Email,DOB,MobileNo,Address
                          And on click of save button show alert and display Message "Registration Saved Successfully..."

                          B . Implement basic validations for each field.
                          Handle form submission with basic form validation.
                        
                          In registration add validation like 
                         Username required, minimum length of 3 characters
                         Password required, minimum length of 6 characters
                         Email required, must be a valid email address like that
                        </pre>
                      </div>
                    </div>
                    <div>
                      <h3>Reactive  Form Task</h3>
                      <div>
                      
                        <pre>
                         A. creating a user registration form with the following fields:
                          Username ,Password,Email,DOB,MobileNo,Address
                          And on click of save button show alert and display Message "Registration Saved Successfully..."

                         B . In registration add validation like 
                         Username required, minimum length of 3 characters
                         Password required, minimum length of 6 characters
                         Email required, must be a valid email address like that
                        </pre>
                      </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
  <div class="row">
      <div class="col-12">
      <div class="text-end">
          <a href="/dashboard" class="p-5 fw-bold">Go To dashboard</a>
      </div>
      </div>
  </div>
</div>