<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-5">
                <div class="card-header">
                    <h2>Assignment 5</h2>
                </div>
                <div class="card-body">
                     <div>
                        <h3>Directives </h3>
                        <div>
                            <h4>Structural Directives  </h4>
                            <p>NgIf</p>
                            <pre>
                                A.Create 2 Radio Button for male & female
                                If male selected Show "You Have selected Male"
                                If feMale selected Show "You Have selected Female"

                                B. Take 2 textBox
                                if we enter same value in both textbox hide div else show
                            </pre>
                            <p>NgFor</p>
                            <pre>
                                A.Create City Array Bind that to Dropdown

                                B. Take one TextBox, button and dropdown
                                on add btn click Entered City Should be added to dropdown option
                                after adding city - textbox Should be empty
                                Show count of Added Cities in P Tag.
                            </pre>
                        </div>
                        <div>
                            <h4>Attribute Directives  </h4>
                            <p>NgClass</p>
                            <pre>
                                A.create a varible and store class into it
                                create 1 button with name toggle class
                                on click of button add "bg-success" class to div and again if we click add "bg-danger" class
                            </pre>
                            <p>NgStyle</p>
                            <pre>
                                A.Define two properties in the component's TypeScript file:
                                textColor: A string representing the text color.
                                fontSize: A string representing the font size.
                                Use ngStyle to set the text color and font size in the component's template.
                            </pre>
                        </div>
                        <div>
                            <h4>Custom Directives</h4>
                            <code>ng generate directive Directive_Name</code>
                                          <p>OR</p>
                            <code>ng g d Directive_Name</code>
                            <p>A. Create own custom Directive whatever you want. </p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="/dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>
