<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-5">
                <div class="card-header">
                    <h2>Assignment 3</h2>
                </div>
                <div class="card-body">
                    <div>
                        <p>Create components</p>
                        <code> ng generate component Component_Name</code>
                          <pre>   OR   </pre>
                        <code>ng g c  Component_Name</code>
                        <p>Task of Component</p>
                        <pre>
                           A. Craete 1 Component with Name Navbar
                           B. Create 2 or 3 component with Naming Convention
                        </pre>
                    </div>
                    <div>
                        <p>Task of Routes</p>
                        <p>Create Routes</p>
                       <pre>
                        A. Create Routes of that created components.
                       </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>