<div class="container">
    <div class="row my-5">
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentOne')"  class="btn btn-primary">Go To Assignment 1</button>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentTwo')" class="btn btn-primary">Go To Assignment 2</button>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentThree')" class="btn btn-primary">Go To Assignment 3</button>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentFour')" class="btn btn-primary">Go To Assignment 4</button>
            </div>
        </div>
        
    </div>
    <div class="row my-5">
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentFive')" class="btn btn-primary">Go To Assignment 5</button>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentSix')" class="btn btn-primary">Go To Assignment 6</button>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentSeven')" class="btn btn-primary">Go To Assignment 7</button>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentEight')" class="btn btn-primary">Go To Assignment 8</button>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentNine')" routerLink="" class="btn btn-primary">Go To Assignment 9</button>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentTen')" class="btn btn-primary">Go To Assignment 10</button>
            </div>
        </div><div class="col-3">
            <div>
                <button type="button" (click)="gotoAssignment('assignmentEleven')" class="btn btn-primary">Go To Assignment 11</button>
            </div>
        </div>
    </div>
</div>