<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-5">
                <div class="card-header">
                    <h2>Assignment 11</h2>
                </div>
                <div class="card-body">
                    <h3>PrimeNg</h3>
                    <p>
                    <a href="https://primeng.org/">Official site of primeng</a>

                    </p>
                    <p>
                    <a href="https://primeng.org/dropdown">DropDowns</a>

                    </p>
                    <p>
                    <a href="https://primeng.org/table">Table</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>