<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5">
               <div class="card-header">
                <div> <h2>Assignment 1</h2></div>
               </div>
               <div class="card-body">
                <div>
                    <p> 1) Install Node.Js</p>
                    <a href="https://nodejs.org/en/download" target="_blank">Node.js Download</a>
                </div>
                <div class="mt-2">
                    <p> 2) Install Visual Code</p>
                    <a href="https://code.visualstudio.com/" target="_blank">Visual Code Download</a>
                </div>
                <div class="mt-2">
                    <p> 3) Create a New Angular Project</p>
                     <code>ng new project_name --standalone false</code>
                </div>
                <div class="mt-2">
                    <p> 3)Run Project</p>
                     <code>ng serve</code>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="/dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>
