<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-5">
                <div class="card-header">
                    <h2>Assignment 6</h2>
                </div>
               <div class="card-body">
                <div>
                    <h3>Services</h3>
                    <div>
                        <p>Create Services</p>
                        <code>ng g service Service_Name</code>
                        <p>OR</p>
                        <code>ng g s Service_Name</code>
                    </div>
                </div>
                <div>
                    <h3>Pipes</h3>
                    <p>Create Pipes</p>
                        <code>ng g pipe pipe__Name</code>
                        <p>OR</p>
                        <code>ng g p Pipe_Name</code>

                        <p>Practice  built-in Pipes</p>
                        <a href="https://angular.io/guide/pipes" target="_blank">Refer built-in Pipes</a>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>
