<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-5">
                <div class="card-header">
                    <h2>Assignment 10</h2>
                </div>
                <div class="card-body">
                    <div>
                        <h3>Angular Material</h3>
                        <p>
                            <a href="https://material.angular.io/">Official site of Angular Material</a>
                        </p>
                        <p>
                            <a href="https://material.angular.io/components/table/overview">Tables</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>