<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Assignment 8</h2>
                </div>
                <div class="card-body">
                    <div>
                        <h2>API Integartion</h2>

                        <p>Craete 1 project like userMangement </p>
                        <p>Do Create user, edit user,update user,delete user</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="/dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>