<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5">
               <div class="card-header">
                <div> <h2>Assignment 2</h2></div>
               </div>
               <div class="card-body">
                <div>
                    <p> 1) Install Bootstrap</p>
                     <code>npm i bootstrap</code>
                </div>
                <div class="mt-2">
                    <p> 2)TypeScript</p>
                    <p>Variables Task</p>
                    <pre>
                    A. create 3 variables to store firstName, middleName, lastName and
                        Generate fullName by joining 3 variable and print full name in console.

                    B. create variables to store student details like 
                        name, contactNo, FatherName, MotherName, Class,RollNo and print it in console.

                    C. create variable to store address, city ,state and pincode- and
                        print address and city in console
                    </pre>
                    <p>Object Task</p>
                    <pre>
                      A. Create a Object to store Product information
                       Fields will be ProductName, Category, Price, Discount
                       Print ProductName & Price in console
                    
                      B. Create a Object to store Train Ticket information
                       Fields will be TrainName, TrainNo, NoOfPassinger, From, To, DateOfJourney
                       Print whole Information in P tag like below
                      <code>
                        Traine Name: Vidarbah Express
                        Traine No: 12135
                        No Of Passinger : 3
                        From Location: Nagpur
                        To Location: Mumbai
                        Date Of Journey: 08-04-2023 05.00 PM
                      </code>
                    </pre>
                    <pre>
                       C. Create a Object to Hold Information of School
                        Fields will be SchoolName, PrincipleName, ContactNo, Address
                        Print whole Object in console
                        after that add one more Field SchoolEmail with some email
                        again print updated object
                    </pre>
                </div>
                <div class="mt-2">
                    <p>Arrays Task</p>
                    <pre>
                        A.Create an array of Cities
                        Print Length of City Array in console
                        Print 3rd Element from array
                    </pre>
                </div>
                <div class="mt-2">
                    <p>Functions Task </p>
                     <pre>
                        A.Create a simple function with name firstFunction().
                        and stored the value in console ('This is my first function')
                        and call the function firstFunction().

                        B.Create a function with name square().
                        The function square() takes one parameter and parameter name is num.
                        Return the parameter (num) multiplied by itself. Example like (num * num)
                        and call the function square() and store the result in console.
                     </pre>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
        <div class="text-end">
            <a href="/dashboard" class="p-5 fw-bold">Go To dashboard</a>
        </div>
        </div>
    </div>
</div>